
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Open+Sans:wght@300&display=swap');

$cor-primaria-1: #90FCC7;
$cor-primaria-2: #1A8D96;
$cor-secundaria-1: #FDCFD3;
$cor-secundaria-2: #C95F9D;
$cor-terciaria: #5FC1C9;

$fonte-geral: 'Open Sans', sans-serif;
 

$tamanho-txt-titulo: 3rem;
$tamanho-txt-titulo-2: 1.5rem;
$tamanho-txt-paragrafo: 1rem;

$tamanho-txt-titulo-less: 1.2rem;
$tamanho-txt-titulo-2-less: 1.1rem;
$tamanho-txt-paragrafo-less: 1rem;





